include mixins/modal

doctype html
html(ng-app="FileUploaderApp")
  head
    title TUS Upload
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="assets/css/main.css")

  body(ng-controller="FileUploaderCTR")
    .container
      .panel
        input#addFiles.btn(type="button", value="Add Files",
          ng-class="{disabled : !haveFileAPI(), 'disabled' : uploading}")
        input.btn.hidden(type="file", class="input-file", s-change="onFileInputSelection()", multiple)
        input.btn(type="button", value="Remove {{getSelectedFileListLength()}}Selected Files",
          ng-click="removeSelectedFiles()", ng-class="{disabled : isSelectedFileListEmpty(), 'disabled' : uploading}")
        input.btn.primary.pull-right(type="button", value="{{getValueIf(uploading,'Upload','Stop')}}",
          ng-click="toggleUpload()", ng-class="{disabled : !isUploadEnabled()}")
    .container(ng-click="deselectAll()")
      .row.upload-thumbs
        .div(class="col-xs-6 col-md-3", ng-repeat="file in fileList")
          a.thumbnail(href="javascript:",
            ng-click="toggleSelection(file)"
            ng-class="{'selected' : isFileSelected(file), 'uploading' : isFileUploading(file), 'disabled': isFileUploaded(file)}")
              .image-container(style="{{file.imageDataAsStyle}}")
              .caption
                .progress(ng-class="{'test-hide' : !isFileUploading(file)}")
                  .progress-bar(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", style="{{file.progressStyle}}")
                h5 {{file.name}}
          .loading.hidden
    +modal({ id: "confirmUploadModal", title: "File {{currentFile.name}}", body: "Do you want to overwrite file {{currentFile.name}}"})
    script(src="assets/js/app.js")