mixin modal(options)
  -options = typeof options==="undefined" ? {} : options
  -options.id = options.id || ""
  -options.classes = options.classes || ""
  -options.closeButtonLabel = options.classes || "No"
  -options.confirmButtonLabel = options.confirmButtonLabel || "Yes"
  -options.body = options.body || ""
  -options.title = options.title || ""
  -options.hidden = options.hidden || "true"
  -options.cancelHandler = options.cancelHandler || "handleFileExists(false)"
  -options.applyHandler = options.applyHandler || "handleFileExists(true)"

  .modal.fade(id=options.id, class=options.classes, showModal="showModal")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal")
            span(aria-hidden="true") &times;
            span.sr-only=options.closeButtonLabel
          h4.modal-title=options.title
        .modal-body
          p=options.body
        .modal-footer
          .pull-left
            label
              input(type="checkbox", ng-model="overwrite")
              |  Remember Answer

          button(type="button", class="btn btn-default", ng-click=options.cancelHandler)=options.closeButtonLabel
          button(type="button", class="btn btn-primary", ng-click=options.applyHandler)=options.confirmButtonLabel